<!-- <div class="board-grid">
  <div
    class="cell"
    *ngFor="let row of rows; let rowIndex = index"
    [attr.data-row]="row"
  >
    <div
      class="cell-inner"
      *ngFor="let col of cols; let colIndex = index"
      [attr.data-col]="col"
    >
      <app-chess-piece
        *ngIf="getPieceAt(rowIndex, colIndex) as piece"
        [piece]="piece"
      ></app-chess-piece>
    </div>
  </div>
</div> -->
<!-- <div class="board-grid">
  <div class="cell" *ngFor="let row of rows; let rowIndex = index">
    <div class="cell-inner" *ngFor="let col of columns; let colIndex = index">
      <span class="debug">{{ rowIndex }},{{ colIndex }}</span>
      <app-chess-piece
        *ngIf="getPieceAt(rowIndex, colIndex) as piece"
        [piece]="piece"
      ></app-chess-piece>
    </div>
  </div>
</div> -->


<svg
  [attr.width]="cellSize * 9"
  [attr.height]="cellSize * 10"
  viewBox="0 0 540 600"
  xmlns="http://www.w3.org/2000/svg"
  class="xiangqi-board"
  (click)="clearSelection()"
>
  <!-- Toàn bộ nội dung của board_dark.svg dán tại đây -->
   <image  href="assets/images/board_dark.svg" width="540" height="600"/>

  <!-- layer show valid moves -->
  <g class="valid-move-layer">
    <!-- <ng-container *ngFor="let piece of board.pieces">
      <g
        class="piece-wrapper"
        [attr.transform]="transform(piece)"
        (mouseenter)="hoveredPiece = piece"
        (mouseleave)="hoveredPiece = null"
      >
        <image
          [attr.width]="cellSize"
          [attr.height]="cellSize"
          [attr.href]="pieceImage(piece)"
        />
      </g>
    </ng-container> -->
    <circle
      *ngFor="let move of validMoves"
      [attr.cx]="getX(move.col) + cellSize / 2"
      [attr.cy]="getY(move.row) + cellSize / 2"
      [attr.r]="cellSize / 6"
      fill = "green"
      opacity="0.5"
      />
  </g>
  
  <!-- layer show pieces -->
  <g class="pieces-player">
    <ng-container *ngFor="let piece of board.pieces">
      <g
        class="piece-wrapper"
        [attr.transform]="transform(piece)"
        (mouseenter)="hoveredPiece = piece"
        (mouseleave)="hoveredPiece = null"
        (click)="onCellClick(piece.position.row, piece.position.col); $event.stopPropagation()">
        <image
          [attr.width]="cellSize"
          [attr.height]="cellSize"
          [attr.href]="pieceImage(piece)"/>

        <!-- Highlight the selected piece -->
        <circle
          *ngIf="selectedPiece"
          [attr.cx]="getX(selectedPiece.position.col) + cellSize / 2"
          [attr.cy]="getY(selectedPiece.position.row) + cellSize / 2"
          [attr.r]="cellSize / 2"
          stroke = "orange"
          stroke-width="2"
          fill = "transparent"/>
      </g>
    </ng-container>
  </g>

</svg>
