<!-- <div class="board-grid">
  <div
    class="cell"
    *ngFor="let row of rows; let rowIndex = index"
    [attr.data-row]="row"
  >
    <div
      class="cell-inner"
      *ngFor="let col of cols; let colIndex = index"
      [attr.data-col]="col"
    >
      <app-chess-piece
        *ngIf="getPieceAt(rowIndex, colIndex) as piece"
        [piece]="piece"
      ></app-chess-piece>
    </div>
  </div>
</div> -->
<!-- <div class="board-grid">
  <div class="cell" *ngFor="let row of rows; let rowIndex = index">
    <div class="cell-inner" *ngFor="let col of columns; let colIndex = index">
      <span class="debug">{{ rowIndex }},{{ colIndex }}</span>
      <app-chess-piece
        *ngIf="getPieceAt(rowIndex, colIndex) as piece"
        [piece]="piece"
      ></app-chess-piece>
    </div>
  </div>
</div> -->


<svg
  [attr.width]="cellSize * 9"
  [attr.height]="cellSize * 10"
  viewBox="0 0 540 600"
  xmlns="http://www.w3.org/2000/svg"
  class="xiangqi-board"
>
  <!-- Toàn bộ nội dung của board_dark.svg dán tại đây -->
   <image  href="assets/images/board_dark.svg" width="540" height="600"/>

  
  <g class="pieces-layer">
    <ng-container *ngFor="let piece of board.pieces">
      <g
        class="piece-wrapper"
        [attr.transform]="transform(piece)"
        (mouseenter)="hoveredPiece = piece"
        (mouseleave)="hoveredPiece = null"
      >
        <image
          [attr.width]="cellSize"
          [attr.height]="cellSize"
          [attr.href]="pieceImage(piece)"
        />
      </g>
    </ng-container>
  </g>

</svg>
